[Libraries]
[Libraries]/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
MemoryCaptures/
ScriptAssemblies/
*.csproj
*.unityproj
*.sln
*.user
*.userprefs
.vs/
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
ScriptAssemblies/

*.csproj
*.unityproj
*.sln
*.user
*.userprefs
